{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact_style.css') }}">
{% endblock %}

{% block main %}
    <main class="main">

        <p class="main__name"><i class="fa-solid fa-envelope main__name"></i> Email</p>
        <a class="main__link" href="mailto:piotrkrzastek05@gmail.com">piotrkrzastek05@gmail.com</a>

        <p class="main__name"><i class="fa-brands fa-github main__name"></i> Github</p>
        <a class="main__link" target="_blank" href="https://github.com/PiotrKrzastek">@PiotrKrzastek</a>

        <p class="main__name"><i class="fa-brands fa-linkedin main__name"></i>Linkedin</p>
        <a class="main__link" target="_blank" href="https://www.linkedin.com/in/krzastek/">@Piotr krząstek</a>

        <p class="main__name"><i class="fa-solid fa-gamepad main__name"></i> Codewars</p>
        <a class="main__link" target="_blank" href="https://www.codewars.com/users/Polkissss">@Polkissss</a>
    </main>
{% endblock %}