{% from "macros/project_macros.jinja2" import project_card %}

{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/article_style.css') }}">
{% endblock %}

{% block main %}
    <main class="main">
        <div class="main__banner">
            <img class="main__banner-image" src="{{ url_for('static', filename='noteup.png') }}">
            <h1 class="main__banner-glow"></h1>
        </div>

        <section class="main__about-section-main">
            <h1 class="main__section-header" >NoteUP</h1>
            <p class="main__section-content">
                NoteUP is a simple web application where users can add notes to document their daily life. It’s built with HTML, CSS, Python, and Flask. This was my first project from the Udemy course
                <strong><a class="main__section-link" target="_blank" href="https://www.udemy.com/course/web-developer-bootcamp-flask-python/">Web Developer Bootcamp with Flask and Python in 2024</a></strong>
                and at the same time my first professional step towards my full-stack developer journey.
            </p>
        </section>

        <section class="main__about-section">
            <div class="main__section-text">
                <h2 class="main__section-header">Why was it written?</h2>
                <p class="main__section-content">
                   This app was mainly written for the sake of taking the course. I consider even smallest step towards advancement a victory.
                   Even though this app is small and relatively easy to make I was sure there is something I could learn from this experience.
                </p>
            </div>
            <div class="main__side-block">
                <h3 class="main__side-block-header">Technologies: </h3>
                <ul class="main__side-block-content">
                    <li>
                        <i class="fa-brands fa-python"></i><p>Python/Flask</p>
                    </li>
                    <li>
                        <i class="fa-brands fa-html5"></i><p>HTML</p>
                    </li>
                    <li>
                        <i class="fa-brands fa-css3-alt"></i><p>CSS</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-database"></i><p>MongoDB</p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="main__about-section">
                <h2 class="main__section-header" >What I learned?</h2>
                <p class="main__section-content">
                    Even before developing this app, I knew some of the technologies used. I still learned new things — for example, using
                    <strong><a target="_blank"  class="main__section-link" href="https://www.figma.com">Figma</a></strong> to create clear, responsive designs and prototypes before writing any code.
                    I’m also excited to use these skills in future projects and collaborate effectively with teammates.
                </p>
        </section>

        <section class="main__about-section">
            <h2 class="main__section-header" >Future</h2>
            <p class="main__section-content">
                While I plan to focus on new projects, if I were to expand this app further, I would add a user system to allow personalized accounts and note management.
                Each project builds on the last, so future developments will continue to improve my skills and approach.
            </p>
        </section>

        <section class="main__about-section-links">
                    <p class="main__name"><i class="fa-brands fa-github main__name"></i>Repository:</p>
                    <a class="main__link" style="font-size: 26px;" target="_blank" href="https://github.com/PiotrKrzastek/NoteUp-project">github.com/PiotrKrzastek/NoteUp-project</a>
                    
                    <p class="main__name"><i class="fa-solid fa-earth-americas main__name"></i>Live website</p>
                    <a class="main__link" style="font-size: 26px;" target="_blank" href="https://noteup-project.onrender.com/">noteup-project.onrender.com/</a>
        </section>

    </main>
{% endblock %}