* {
    font-family: "Segoe UI", "sans-serif";
    box-sizing: border-box;
}

h1, p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.main_body {
    margin: 0 auto;
    max-width: 60rem;
    min-height: 56.5rem;
}

a {
 text-decoration: none;
 color: black;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    height: 15rem;
    margin: 2rem 0;
}

.header__avatar {
    border-radius: 180px;
    width: 10rem;
}

.nav {
    height: 2rem;
    width: 100%;
}

.nav__list {
    padding: 0;
    width: 23rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__list-element {
    transition: all .1s ease-in-out;
    padding: .2rem .5rem;
    list-style-type: none;
    font-size: 20px;
}

.nav__list-current {
    font-weight: bold;
}

.nav__list-element:hover {
    transition: all .2s ease-in-out;
    font-size: 22px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    background-color: #222222;
    margin: 0;
    color: white;
    height: 4rem;
    width: 100%;
    padding: 10px
}

.footer__left {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    justify-content: center;
    align-items: start;
}

.footer__right {
    display: flex;
    flex-direction: column
    max-width: 80rem;
    align-items: center;
}

.footer__icons {
    margin-inline: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}

.footer__logo {
    margin-inline: 5px;
}

.footer__contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__item {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.footer__item:hover {
    text-decoration: underline;
}

@media (max-width: 400px) {
    .nav__list {
    padding: 0;
    width: 18rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    .footer {
    flex-direction: column;
    height: 6rem;
    }

}