.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 0;
    font-size: 20px;
}

.main__name {
    color: var(--accent-color);
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}