:root.light-theme {
    --background-color: linear-gradient(135deg, #ffffff 0%, #F0F0F0 100%);
    --text-color: #000000;
    --link-color: #1a0dab;
    --nav-background-color: #ececec;
    --nav-text-color: #000000;
    --accent-color: #3f51b5;
    --accent-color-light: #757de8;
    --footer-background-color: #1f1f1f;
    --footer-text-color: #ffffff;
    --glow-color: #ffffff;
}

:root {
  --background-color: linear-gradient(135deg, #1e1e1e 0%, #111111 100%);
  --text-color: #ffffff;
  --link-color: #dcc0ff;
  --nav-background-color: #1f1f1f;
  --nav-text-color: #ffffff;
  --accent-color: #bb86fc; 
  --accent-color-light: #e0aaff;
  --footer-background-color: #1f1f1f;
  --footer-text-color: #ffffff;
  --glow-color: rgba(24, 24, 24);
}

* {
    font-family: "Roboto", "Segoe UI", "sans-serif";
    box-sizing: border-box;
}

h1, p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
}

.main__toggle-theme {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
    border: none;
    padding: 1rem 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

svg:hover {
    fill: var(--accent-color);
}

.main__toggle-theme:hover {
    transition: all .2s ease-in-out;
    color: var(--accent-color);
    transform: translateY(-.2rem);
    cursor: pointer;
}

.main_body {
    margin: 0 auto;
    max-width: 60rem;
    min-height: 56.5rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.header {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    height: 17rem;
    margin: 2rem 0;
    background-color: var(--nav-background-color);
    border-bottom: 5px solid var(--accent-color);
}

.header__subtitle {
    color: var(--accent-color);
}

.header__avatar {
    border-radius: 180px;
    width: 10rem;
}

.nav {
    display: flex;
    height: 2rem;
    padding: 2rem 0;
    width: 100%;
    align-items: center;
    background-color: var(--nav-background-color);
}

.nav__list {
    padding: 0;
    width: 23rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__list-element {
    transition: all .1s ease-in-out;
    padding: .2rem .5rem;
    list-style-type: none;
    font-size: 20px;
}

.nav__list-element_link {
    text-decoration: none;
    color: var(--text-color);
}

.nav__list-current a{
    color: var(--accent-color-light);
    font-weight: bold;
}

.nav__list-element:hover {
    color: var(--accent-color);
    transition: transform .2s ease-in-out;
    transform: translateY(-.2rem);
    cursor: pointer;
    border-bottom: 1px solid var(--accent-color);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    background-color: var(--footer-background-color);
    margin: 0;
    color: var(--footer-text-color);
    height: 4rem;
    width: 100%;
    padding: 0 1rem;
}

.footer__left {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    justify-content: center;
    align-items: start;
}

.footer__left p{
    color: var(--footer-text-color);
}

.footer__right {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    align-items: center;
}

.footer__icons {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer__logo {
    color: var(--footer-text-color) !important;
    margin-inline: 5px;
}

.footer__contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 400px) {
    .nav__list {
    padding: 0;
    width: 18rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    .footer {
    flex-direction: column;
    height: 6rem;
    }

}

@keyframes slideUpFade {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.main__link {
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

.main__link:hover {
    transition: all .2s ease-in-out;
    transform: translateX(.5rem);
    cursor: pointer;
    color: var(--link-color);
}

header,
nav,
main,
footer {
  animation: slideUpFade 0.7s ease-out forwards;
  opacity: 0;
}

header { animation-delay: 0.1s; }
nav { animation-delay: 0.2s; }
main { animation-delay: 0.3s; }
footer { animation-delay: 0.4s; }